@charset 'utf-8';
/* CSS Document */

/* reset */
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /* 모바일 버전에 추가된 속성 */
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
table,
blockquote {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
header,
main,
footer,
section,
article,
aside,
nav {
  display: block;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a img {
  border: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
  /* 박스가 줄어드면 이미지가 같이 줄어든다. 이미지가 박스보다 작으면 내비두고 이미지가 박스가 크면 이미지를 박스의 너비만큼 차지하게 한다. */
  /* 모바일 버전에 추가된 속성 */
}
li {
  list-style: none;
}
address,
em,
i,
cite {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
table caption {
  overflow: hidden;
  width: 0;
  height: 0;
}
i.fas,
i.far,
i.fab {
  vertical-align: middle;
  display: inline-block;
}
i.fas span,
i.far span,
i.fab span {
  position: absolute;
  overflow: hidden;
  text-indent: -999px;
}
.pc {
  display: none !important;
}
br.only-w {
  content: '';
}
br.only-w:after {
  content: '\00a0';
}
.clearfix::after,
.clearfix::before {
  content: '';
  display: block;
  clear: both;
}
.ir-hidden {
  position: absolute;
  left: -5000px;
}

/* skip-nav */
.skip-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
  height: 50px;
  line-height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 14px;
  z-index: 10000;
  transition: all 0.5s;
}
.skip-nav:focus {
  top: 0;
}

/* common */
#wrapper {
  min-width: 320px;
  overflow: hidden;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #222222;
  background: #ffffff;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  padding: 0 40px;
  color: #fff;
  transition: background 0.4s;
  z-index: 1000;
}
#header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 0;
  background: #ffffff;
  transition: height 0.3s;
}
#header > div.inner_header {
  margin: 0 auto;
  position: relative;
}
#header > .inner_header > h1 {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}
#header > .inner_header > h1 > a {
  display: block;
}

/* footer */
#footer {
  color: #c2b1b1;
  border-top: 1px solid #ebebeb;
}
#footer > div.wrapper_footer {
  padding-left: 10px;
  position: relative;
}
#footer > div.wrapper_footer > ul.list_info {
  width: 100%;
  padding: 10px 0 10px 0;
}
#footer > div.wrapper_footer > ul.list_info li {
  float: left;
  padding: 0 10px;
  font-size: 12px;
  color: #777777;
  position: relative;
}
#footer > div.wrapper_footer > ul.list_info li:first-child {
  padding-left: 0;
}
#footer > div.wrapper_footer > ul.list_info li + li:before {
  content: '';
  width: 1px;
  height: 9px;
  background: #aeaeae;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#footer > div.wrapper_footer > address.wrapper_address {
  padding-top: 10px;
}
#footer > div.wrapper_footer > address.wrapper_address > dl.list_address {
  font-size: 12px;
}
#footer > div.wrapper_footer > address.wrapper_address > dl.list_address dd {
  float: left;
}
#footer
  > div.wrapper_footer
  > address.wrapper_address
  > dl.list_address
  > dd.first {
  padding-right: 9px;
  position: relative;
}
#footer
  > div.wrapper_footer
  > address.wrapper_address
  > dl.list_address
  > dd.first::after {
  content: '';
  display: block;
  width: 1px;
  height: 9px;
  background: #7a7777;
  position: absolute;
  right: 0;
  bottom: 3px;
}
#footer
  > div.wrapper_footer
  > address.wrapper_address
  > dl.list_address
  > dd.second {
  padding-left: 9px;
}
#footer > div.wrapper_footer > div.wrapper_relation {
  padding: 10px 0;
}
#footer > div.wrapper_footer > div.wrapper_relation > ul.list_sns {
  margin-top: 20px;
}
#footer > div.wrapper_footer > div.wrapper_relation > div.bundle_site {
  margin-top: 20px;
  position: relative;
}

#footer > div.wrapper_footer > div.wrapper_relation > ul.list_sns li {
  float: left;
}
#footer > div.wrapper_footer > div.wrapper_relation > ul.list_sns li > a {
  display: block;
  padding: 0 16px;
}
#footer
  > div.wrapper_footer
  > div.wrapper_relation
  > ul.list_sns
  li:first-child
  > a {
  padding-left: 0;
}
#footer
  > div.wrapper_footer
  > div.wrapper_relation
  > ul.list_sns
  li:last-child
  > a {
  padding-left: 16px;
}
#footer > div.wrapper_footer > div.wrapper_relation > ul.list_sns li > a img {
  vertical-align: middle;
}
#footer
  > div.wrapper_footer
  > div.wrapper_relation
  > div.bundle_site
  button.btn_relation {
  border: none;
  background: transparent;
  width: 160px;
  text-align: left;
  border-bottom: 1px solid #1e1e1e;
}
#footer
  > div.wrapper_footer
  > div.wrapper_relation
  > div.bundle_site
  button.btn_relation {
  display: block;
  position: relative;
  height: 29px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: normal;
  color: #1e1e1e;
  line-height: 30px;
}
#footer
  > div.wrapper_footer
  > div.wrapper_relation
  > div.bundle_site
  button.btn_relation
  strong
  span.ico_relation {
  position: absolute;
  right: 0;
  text-align: center;
}
#footer
  > div.wrapper_footer
  > div.wrapper_relation
  > div.bundle_site
  button.btn_relation
  strong
  span.ico_relation
  i.fa-angle-up {
  width: 11px;
  height: 7px;
}
#footer
  > div.wrapper_footer
  > div.wrapper_relation
  > div.bundle_site
  > ul.list_relation {
  position: absolute;
  bottom: 32px;
  padding: 10px 52px 10px 15px;
  font-size: 12px;
  border: 1px solid #ebebeb;
  opacity: 0;
  background: #ffffff;
  z-index: 2000;
}
#footer
  > div.wrapper_footer
  > div.wrapper_relation
  > div.bundle_site
  > ul.list_relation
  li:first-child {
  padding-top: 10px;
  padding-bottom: 9px;
}
#footer
  > div.wrapper_footer
  > div.wrapper_relation
  > div.bundle_site
  > ul.list_relation
  li {
  padding: 9px 0;
}
#footer
  > div.wrapper_footer
  > div.wrapper_relation
  > div.bundle_site
  > ul.list_relation
  li
  a {
  color: #666666;
}
#footer
  > div.wrapper_footer
  > div.wrapper_relation
  > div.bundle_site
  > ul.list_relation
  li:last-child {
  padding-top: 9px;
  padding-bottom: 10px;
}

.show_relation {
  opacity: 1 !important;
}

#footer > div.wrapper_footer > div.wrapper_copyright {
  padding: 10px 0;
}
#footer > div.wrapper_footer > div.wrapper_copyright small {
  font-size: 12px;
}

/* main */
#main-visual {
  position: relative;
  height: 500px;
  overflow: hidden;
}
#main-visual > video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
}
#main-visual ul.visual_slogans li {
  position: absolute;
  left: 10%;
  /* transform: translateX(-30%); */
  top: 180px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-left: 20px;
  opacity: 0;
}
#main-visual ul.visual_slogans li:nth-child(6),
#main-visual ul.visual_slogans li:last-child {
  left: 50%;
  transform: translateX(-50%);
}
#main-visual ul.visual_slogans li p:first-child {
  font-size: 36px;
}
#main-visual ul.visual_slogans li p:last-child {
  font-size: 80px;
  line-height: 1;
}
#main-visual ul.visual_slogans li:first-child p:first-child {
  margin-left: 10px;
}
#main-visual ul.visual_slogans li:nth-child(2) p:first-child,
#main-visual ul.visual_slogans li:nth-child(2) p:last-child,
#main-visual ul.visual_slogans li:nth-child(3) p:first-child,
#main-visual ul.visual_slogans li:nth-child(3) p:last-child {
  margin-left: 10px;
}
#main-visual ul.visual_slogans li:nth-child(-n + 5) p:first-child {
  margin-bottom: 20px;
}
li:nth-child(-n + 5).current {
  animation: fadeSlogan 5s ease-out !important;
}
li:nth-child(n + 6).current {
  opacity: 1 !important;
}
@keyframes fadeSlogan {
  0% {
    top: 180px;
  }
  4% {
    top: 170px;
  }
  8% {
    top: 160px;
  }
  15% {
    opacity: 1;
    top: 160px;
  }
  50% {
    opacity: 1;
    top: 160px;
  }
  70% {
    opacity: 1;
    top: 160px;
  }
  82% {
    top: 150px;
    opacity: 0.6;
  }
  86% {
    top: 140px;
    opacity: 0.4;
  }
  90% {
    top: 130px;
    opacity: 0.2;
  }
  100% {
    top: 120px;
    opacity: 0;
  }
}
/*  main-info */
#main-info {
  position: relative;
  /* height: 860px; */
  padding: 35px 10px 100px 10px;
  overflow: hidden;
}
#main-info article {
  float: left;
}
#main-info article {
  width: calc(50% - 5px);
  position: relative;
}
#main-info article:nth-child(-n + 2) {
  height: 180px;
}
#main-info article:nth-child(2n) {
  margin-left: 10px;
}
#main-info article:nth-child(n + 4) {
  margin-bottom: 10px;
}
#main-info article > h4 {
  color: #666666;
  font-size: 14px;
}
#main-info article > a {
  display: block;
}
#main-info article > a strong {
  display: block;
  margin: 7px 0 11px 0;
  font-size: 20px;
  font-family: roboto, sans-serif;
}
#main-info article > a p {
  font-size: 15px;
  color: #747774;
}
#main-info article > a:hover strong {
  text-decoration: underline;
}
#main-info article > a dl dt {
  display: block;
  font-size: 20px;
  margin: 10px 0 4px 0;
  font-weight: 700;
}
#main-info article > a dl dt span {
  margin-left: 70px;
}
#main-info article > a dl dd {
  font-size: 15px;
  color: #666666;
}
#main-info article img {
  display: block;
  width: 360px;
  height: 200px;
  margin: 15px 0;
}

@media screen and (max-width: 815px) {
  #main-info {
    padding-bottom: 35px;
  }
  #main-info article {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
  }
  #main-info article:nth-child(2n) {
    margin-left: 0;
  }
  #main-info article:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 535px) {
  #footer
    > div.wrapper_footer
    > address.wrapper_address
    > dl.list_address
    > dd.first::after {
    display: none;
  }
  #footer
    > div.wrapper_footer
    > address.wrapper_address
    > dl.list_address
    > dd.second {
    position: relative;
  }
  #footer
    > div.wrapper_footer
    > address.wrapper_address
    > dl.list_address
    > dd.second::before {
    content: '';
    display: block;
    width: 1px;
    height: 9px;
    background: #7a7777;
    position: absolute;
    left: 0;
    bottom: 3px;
  }
}
